body {
    margin:0;
    padding: 0;
}
.bg {
    background-color: #431781;
    margin-top: 70px;
    height: 140vh;
    border:1px solid black;
}
.bottom-bg {
    background-color: #431781;
}
.side-menu {
    width: 30vw;
    background-color: white;
    height: 100vh;
    list-style-type: none;
    z-index: 1;
}
.menu-b {
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;
}
.block-display-l, .block-display-s {
    display: none;
}
.navbar, footer {
    border-radius: 0;
    padding: 10px 10px 0 10px;
    margin: 0;
}
.menu {
    font-size: 30px;
}
.steps {
    font-size: 20px;
    font-style: bold;
    border-top: 1px solid gray;
    padding-top: 40px;
}
.btn {
    height: 45px;
    width: 200px;
}
.logo, .logo-footer, .logo-m {
    height: 45px;
    width: 160px;
    margin-left:35vw;
}
.logo-footer {
    margin-left: 0;
}
.logo-m {
    margin: 15px 10px 80px 10px;
}
.bg-violet {
    background-color: #431781;   
}
.bg-yellow {
    background-color: #FCD232;
}
.bg-black {
    background-color: black;
}
.bg-gray {
    background-color: lightgray;
}
.c-yellow, .c-yellow:hover {
    color: #FCD232;
}
.c-white {
    color: white;
}
.c-black, .c-black:hover {
    color: black;
}
.aqua {
    color: aqua;
}
.pad-l-20{
    padding-left: 20px;
}
.pad-r-20 {
    padding-right: 20px;
}
.pad-20 {
    padding: 20px;
}
.pad-20-t-b {
    padding: 20px 0;
}
.m-20 {
    margin-top: 20px;
}
.m-70{
    margin-top: 70px;
}
.pad-30 {
    padding-bottom: 30px;
}
.select {
    width: 180px;
    border-radius: 5px;
}
.submit {
    background-color:red;
    height: 50px;
    width: 100px;
    border:1px solid red;
    color: white;
}
a:hover, a:link {
    color: black;
    text-decoration: none;
}
.flex-card {
    display: flex;
    justify-content: space-between;
}
.card {
    height: 360px;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    margin-top: 25px;
    color: black;
    box-shadow: 5px 10px 10px #888888;
}
.card:hover {
    transform: scale(1.03);
    transition: transform .3s ease-in-out;
}
.image {
    height: 220px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
}
.title, .time {
    flex-direction: row;
    margin-top: 10px;
}
.icon-image {
    height: 40px;
    width: 40px;
    background-color: black;
    position: relative;
    top: -15px;
}
.icon-inside {
    height: 30px;
    width: 30px;
    background-color: black;
}
.list-footer, .social {
    float: left;
    list-style: none;
    padding: 20px 25px;
    font-size: 15px;
}
.list-footer:first-child{
    padding-left:0;
    margin-left:0;
}
.f-l:hover {
    color: white;
}
.social {
    float: right;
    padding:10px 25px;
}
.image-office, .img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9 {
    background-image: url("games/office.jpg");
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 71%, 0 94%);
    clip-path: polygon(0 0, 100% 0%, 100% 71%, 0 94%);
    background-size: cover;
    height: 550px;
}
.img2 {
    background-image: url("games/office2.jpg"); 
}
.img3 {
    background-image: url("games/office3.jpg"); 
}
.img4 {
    background-image: url("games/office4.jpg"); 
}
.img5 {
    background-image: url("games/office5.jpg"); 
}
.img6 {
    background-image: url("games/office6.jpg");
}
.img7 {
    background-image: url("games/office7.jpg");
}
.img8 {
    background-image: url("games/office8.jpg");
}
.img9 {
    background-image: url("games/office9.jpg");
}
.border {
    border: 1px solid black;
}
.b-clip{
    -webkit-clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
}
.bottom {

    background-color:#431781; 
    height: 100vh;
    color: white;
    position: relative;
    z-index: -99999999999;
    display: flex;
        flex-direction: column;
        justify-content: space-between;

}
footer {
    box-sizing: content-box;
}
.test {
    position: relative;
    top: -250px;
    z-index: 1;
}
.form-r {
    height: 130vh;
    width:120%;
    background-color: yellow;
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    margin: 0;
}
h1 {
    margin:0;
}
.about, .kontakt {
    height: 79vh;
}

@media only screen and (max-width: 1024px) {
    .logo {
        margin-left: 25vw;
    }
    .card {
        height: 360px;
        width: 300px;
        justify-content: space-between;
    }
    .side-menu {
        width: 40vw;
    }
    .m-0 {
    margin: 0;
    }
    .list-footer {
        padding-right: 10px;
    }
    .mar-30 {
        margin: 0 30px;
    }
    .image-office {
        height: 450px;
    }
    .form-r {
        height: 180vh;
    }
    .kontakt{
        height: 110vh;
    }

}

@media only screen and (max-width: 768px) {
    .logo {
        float:right;
    }
    .bg {
        margin-top:50px;
    }
    .block-display {
        display: none;
    }
    .block-display-l {
        display: inline-flex;
        margin: 10px auto;
        justify-content: space-between;
        width: 100vw;
    }
    .block-display-s {
        position: relative;
        top: -350px;
    }
    .card {
        height: 360px;
        width: 220px;
        justify-content: space-between;
    }
    .pad-l-20 {
        padding-left:10px;
    }
    .pad-r-20 {
        padding-right: 10px;
    }
    .list-footer {
        padding: 10px 8px 10px 0;
    }
    .logo-footer {
        margin-right: 10px;
    }
    .p-0 {
        padding-right:0;
    }
    .form-r{
        display: none;
    }
    .m-70 {
        margin-top: 45px;
    }
    .kontakt {
        height: 110vh;
    }
}

@media only screen and (max-width: 425px) {
    div {
        padding: 0;
    }
    .logo-s, .logo {
        margin: 0;
        width: 160px;
    }
    .logo-s {
        float:right;
    }
    .side-menu {
        width: 60vw;
    }
    .menu-width {
        width: 130px;
        margin-right:0;
        float:left;
    }
    .card {
        height: 360px;
        width: 300px;
        margin: 10px 0;
        justify-content: space-between;
    } 
    .pad-20-t-b {
        padding-top:10px;
    }
    .c-f {
        display: flex;
        justify-content:space-evenly;
        padding: 0;

    }
    .list-footer, .social {
        box-sizing: content-box;
    }
    .pos-b {
        position: relative;
        top: 100px;
    }
    .pos-t {
        position: relative;
        top: -100px;
    }
    .flex-card {
        flex-direction: column;
        justify-content: center;
    }
    .info {
        display:flex;
        height: 30vh;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    .bottom {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .submit {
        width: 150px;
        margin: 10px 100px;
    }
    textarea {
        width: 100%;
    }
    .about {
        height: 130vh;
    }

}
@media only screen and (max-width: 375px) {
    .image {
        display:none;
    }
    .card {
        height: 110px;
    }
    .side-menu {
        width: 80vw;
    }
    .time {
       margin-top:0;
    }
    .btn {
        width: 170px;
        font-size: 11px;
    }
    .bottom {
        height: 120vh;
    }
}